@import url('https://fonts.googleapis.com/css2?family=Mada:wght@700&display=swap');

.mainDiv {

    height: 100vh;
    width: 100%;
    display: flex;



}



.calenderDiv {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;

}

.eventDetailsContainerDiv {
    width: 30%;
    display: flex;
    margin-left: auto;

    justify-content: flex-end;
    align-items: center;
}

.eventDetailsDiv {
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    background-color: rgb(51 50 50);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 95%;
    width: 90%;
    /* gap: 1.4rem 0rem; */
    overflow-y: scroll;
    /* overflow-y: hidden; */

}

.paneDateDiv {
    height: 2em;
    width: 90%;
    font-family: 'Mada', sans-serif;
    font-size: 2em;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: center;

}