.mainDiv {
    background-color: rgb(36, 36, 36);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    height: 5em;
    width: 95%;
    display: flex;
    align-items: center;
    gap: 0rem 1rem;

    line-height: 1.6;

    margin-right: 0rem;
    margin-left: auto;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.mainDiv img {
    aspect-ratio: 1 / 1;
}

.logoDiv {
    height: 70%;
    aspect-ratio: 1 / 1;
    display: flex;
    /* flex: 0 0 content; */
    align-items: center;
    justify-content: center;
    background-color: beige;
    border-radius: 50%;
    margin-left: 1rem;
    overflow: hidden;
}

.publisherLink {
    /* font-size: 36px; */
    text-decoration: none;
    color: wheat;
    display: block;
    position: relative;
    overflow: hidden;
}

.publisherLink::after {
    content: '';
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #edc192;
    transform: translate3d(-100%, 0, 0);
    transition: transform 500ms;
}

.publisherLink:hover::after,
.publisherLink:focus::after {
    transform: translate3d0(0, 0, 0);
}


.publisherLink:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

.linkTag {
    height: 90%;
    aspect-ratio: 1 / 1;
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.linkTag svg:hover {
    transform: scale(1.1);
    transition: transform .25s ease;
    /* color: yellow; */
}

.linkTag svg {
    color: wheat;
    height: 90%;
    aspect-ratio: 1 / 1;
}



.vl {
    border-left: 2px solid wheat;
    height: 80%;
}