:root{
  --primary: rgba(37,253,253,0.62)
}

.App{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  color: wheat;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 0% 3%;
}

a{
  text-decoration: none;
 
}

body{
  margin: 0;
  padding: 0;
  
}

.logo{
  font-size:  2rem;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  color: var(--primary);
}




.sidebar{
  backdrop-filter: blur(0px) brightness(130%);
  color: wheat;
  height: 100vh;
  min-width:fit-content;
}


.mainSideContainer{
  display: flex;
}

.mainTopContainer{
  display: flex;
  align-items: center;
  height: 10vh;
  backdrop-filter: blur(0px) brightness(130%);
}

.routes {
  margin-top: 7vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: space-between;
  
}


.link_text {
  display: flex;
  /* white-space: nowrap; */
  font-size: 2vh;
  padding-top: 3px;
}

.link{
  display: flex;
  color: var(--primary);
  justify-content: center; 
  gap: 10px;
  padding: 12% 0% 12% 2%;
  border-right: 4px solid transparent;
  width: 100%;
  transition: 0.1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.link:hover{
  border-right: 4px solid var(--primary);
  transition: 0.1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  background: #090A0A;
  
}
.active{
  border-right: 4px solid var(--primary);
  background: #090A0A;
}

.Homepage{
  display: flex;
  height: 10vh;
  width:100vw;
  backdrop-filter: blur(0px) brightness(130%);
  align-items: center;
  color: var(--primary);
  padding: 0% 4vh;
  justify-content: space-between;
}
.title{
  display: flex;
  justify-self: left;
  font-size: 4vh;
}
.accounts{
  display: flex;
  
  justify-self: right;
}

#login{
  padding: 0% 5% 0% 0%;
}

#signup{
  padding: 0% 0% 0% 5%;
}

.profile{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
}

.infotable{
  height: 60vh;
  width: 60vw;
  margin: 2% 2%;
  background-color: blueviolet;
}
.submissionpiechart{
  height: 30vh;
  width: 10vw;
  margin: 2% 2%;
  background-color: blueviolet;
}
.contestratings{
  height: 30vh;
  width: 10vw;
  margin: 2% 2%;
  background-color: blueviolet;
}

/* 
.pagename{
  color: #ffffff;
  justify-self: left;
  padding: 4%;
} */
